/* 
 * @author: MMRambotics
 * @description: Stylesheet for all main pages.
 */
 
/* ~~~Reset~~~ */
* {
	margin:0px;
	padding:0px;
	
	font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif;
}

img {
	border:0px;
}
/* ~~~End Reset~~~ */

/* ~~~Global~~~ */
body {
	background:#000 url(../images/main-background.png) no-repeat top center;
}

.bebas {
	font-family:Bebas;
}

p, address, h3, h2, h4 {
	color:#fff;
}

ol, li {
	margin-left:18px;
	color:#fff;
}

.no-bullet {
	list-style:none;
}
	.no-bullet a, .no-bullet img {
		text-decoration:none;
		border:0px;
	}
	.no-bullet li {
		margin-bottom:10px;
	}

a         { color:#00e4ff; }	
a:visited { color:#0090ff; }
a:hover   { color:#00fffc; }
a:active  { color:#00fffc; }

.highlight {
	font-weight:600;
	color:#39f;
}

.homepage-head {
	font-style:italic;
	font-weight:400;
	font-size:18px;
	margin-bottom:3px;
}
/* ~~~End Global~~~ */

/* ~~~Main Layout~~~ */
div#container {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background:url(../images/container-background.png) repeat-y top center;
}
	div#container div#main-container {
		background:url(../images/container-background-bright.png) no-repeat top center;
		width:700px;
		margin:0 auto;
		min-height:400px;
	}
		div#container div#main-container div#sidebar {
			float:left;
			width:130px;
			background:url(../images/border-sidebar.png) no-repeat top left;
			min-height:500px;
			padding:50px 0px 0px 20px;
		}
		div#container div#main-container div#content {
			float:right;
			width:530px;
			min-height:500px;
		}
			div#container div#main-container p {
				padding-right:10px;
			}
			div#container div#main-container div#content div#header {
				text-align:right;
				padding:44px 0px 0px 0px;
				margin-bottom:5px;
			}
				div#container div#main-container div#content div#header h2 {
					font-family:Bebas;
					font-size:60px;
					color:#fff;
					padding-right:10px;
					margin-bottom:4px;
				}
				div#container div#main-container div#content div#header h3 {
					font-family:Bebas;
					font-size:30px;
					color:#fff;
					padding-right:10px;
				}
/* ~~~End Main Layout~~~ */

/* ~~~Main Menu~~~ */
ul#main-menu {
	list-style:none;
	margin-left:-18px;
}
	ul#main-menu li a {
		color:#ddd;
		font-family:Bebas;
		font-size:25px;
		text-decoration:none;
		font-weight:500;
		letter-spacing:2px;
	}
	ul#main-menu li a:hover {
		color:#fff;
	}

div#sub-menu {
	display:none;
	background:url(../images/sub-menu-background.png);
	height:25px;
	padding:0px 10px 0px 0px;
	color:#fff;
}	
	div#sub-menu a {
		color:#fff;
		font-family:Bebas;
		font-weight:600;
		text-decoration:none;
		font-size:19px;
	}
/* ~~~End Main Menu~~~ */

/* ~~~YouTube Gallery~~~ */
ul#video-playlists {
  list-style:none;
}
  ul#video-playlists li.playlist-link {
    cursor:pointer;
    float:left;
    width:130px;
    background:#000;
    border:2px solid #333;
    text-align:center;
    padding-bottom:2px;
  }
    ul#video-playlists li.playlist-link span.playlist-thumbnail {
      margin-top:3px;
    }
    span.playlist-name {
      display:none;
    }

div#lightbox-container {
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  z-index:3;
  display:none;
}
  div#lightbox-container div#playlist-lightbox {
    margin:100px auto;
    width:900px;
    min-height:540px;
    background-color:#333;
    color:#000;
  }
    div#lightbox-container div#playlist-lightbox div#playlist-carousel {
      float:left;
      width:480px;
      min-height:540px;
      padding:25px 0px 0px 5px;
    }
      ul#video-carousel {
        list-style:none;
      }
        ul#video-carousel li {
          display:none;
        }
        ul#video-carousel li.video-carousel-current-item {
          display:block;
        }
    div#lightbox-container div#playlist-lightbox div#playlist-ribbonbar {
      float:right;
      width:370px;
      background-color:#000;
      padding:0px;
      margin:0px;
      height:600px;
    }
      div#lightbox-container div#playlist-lightbox div#playlist-ribbonbar ul#video-ribbon-bar {
        list-style:none;
        padding:5px;
      }
        ul#video-ribbon-bar li {
          max-height:30px;
          height:30px;
          overflow:hidden;
          margin:0px;
          padding:0px;
          width:350px;
          padding:5px;
          border-bottom:3px solid #333;
          cursor:pointer;
        }
        ul#video-ribbon-bar li.current {
          border-left:2px solid #39f;
        }
          ul#video-ribbon-bar li .video-ribbon-bar-image {
            width:25px;
            margin:0px;
            padding:0px;
            float:left;
          }
          ul#video-ribbon-bar li img {
            height:25px;
            width:25px;
          }
          ul#video-ribbon-bar li .video-ribbon-bar-title {
            float:left;
            width:320px;
            margin-top:3px;
          }
/* ~~~End YouTube Gallery~~~ */

