/* 
 * @author: MMRambotics
 * @description: Stylesheet for all main pages.
 */
 
/* ~~~Reset~~~ */
* {
	margin:0px;
	padding:0px;
	
	font-family:Verdana, Helvetica, Arial, sans-serif;
}

img {
	border:0px;
}
/* ~~~End Reset~~~ */

/* ~~~Global~~~ */
body {
	background:#000 url(../images/main-background.png) no-repeat top center;
}

.bebas {
	font-family:Bebas;
}
/* ~~~End Global~~~ */

/* ~~~Main Layout~~~ */
div#container {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background:url(../images/container-background.png) repeat-y top center;
}
	div#container div#main-container {
		background:url(../images/container-background-bright.png) no-repeat top center;
		width:700px;
		margin:0 auto;
		min-height:400px;
	}
		div#container div#main-container div#sidebar {
			float:left;
			width:130px;
			background:url(../images/border-sidebar.png) no-repeat top left;
			min-height:400px;
			padding:50px 0px 0px 20px;
		}
		div#container div#main-container div#content {
			float:right;
			width:550px;
			min-height:400px;
		}
/* ~~~End Main Layout~~~ */

/* ~~~Main Menu~~~ */
ul#main-menu {
	list-style:none;
}
	ul#main-menu li a {
		color:#ddd;
		font-family:Bebas;
		font-size:23px;
		text-decoration:none;
		font-weight:500;
		letter-spacing:2px;
	}
	ul#main-menu li a:hover {
		color:#fff;
	}
/* ~~~End Main Menu~~~ */