/* 
 * @author: MMRambotics
 * @description: Splash page stylesheet.
 */
 
/* ~~~Reset~~~ */
* {
	margin:0px;
	padding:0px;

	font-family:Verdana, Helvetica, Arial, sans-serif;
}

img {
	border:0px;
}
/* ~~~End Reset~~~ */

/* ~~~Global~~~ */
body {
	background:#000 url('../images/splash-background.png') no-repeat top center;
}

.clear {
	clear:both;
}
/* ~~~End Global~~~ */

/* ~~~Main Layout~~~ */
div#container {
	width:100%;
	margin-top:210px;
	z-index:2;
}
	div#container div#feeds {
		margin:0 auto;
		width:873px;
	}
		div#container div#feeds div#news {
			float:left;
			width:277px;
			margin:0px 8px 0px 8px;
		}
		div#container div#feeds div#events {
			width:284px;
			float:left;
			margin:0px 8px 0px 0px;
		}
		div#container div#feeds div#notices {
			float:right;
			width:269px;
			margin:0px 8px 0px 8px;
		}
	div#container div#feeds div.feed-item {
		margin:0px 15px 15px 0px;
		padding-bottom:10px;
		border-bottom:2px solid #696969;
	}
	div#container div#feeds img.header {
		margin-bottom:15px;
	}
	div#container div#feeds p {
		color:#696969;
	}
		div#container div#feeds p span.highlight {
			color:#00e4ff;
		}
		div#container div#feeds p a {
			color:#00e4ff;
		}
		div#container div#feeds p a:visited {
			color:#696969;
		}
		div#container div#feeds p a:hover {
			color:#fff;
		}
	div#container div#enter-full-site {
		width:292px;
		margin:0 auto;
	}
/* ~~~End Main Layout~~~ */
