/* 
 * @author: MMRambotics
 * @description: Stylesheet for all main pages.
 */
 
/* ~~~Reset~~~ */
* {
	margin:0px;
	padding:0px;
	
	font-family:Verdana, Helvetica, Arial, sans-serif;
}

img {
	border:0px;
}
/* ~~~End Reset~~~ */

/* ~~~Global~~~ */
body {
	background:#000 url(../images/main-background.png) no-repeat top center;
}

.bebas {
	font-family:Bebas;
}

p, address {
	color:#fff;
}

a { color:#39f; }	
a:hover { color:#ddd; }
a:visited { color:#bababa; }
/* ~~~End Global~~~ */

/* ~~~Main Layout~~~ */
div#container {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background:url(../images/container-background.png) repeat-y top center;
}
	div#container div#main-container {
		background:url(../images/container-background-bright.png) no-repeat top center;
		width:700px;
		margin:0 auto;
		min-height:400px;
	}
		div#container div#main-container div#sidebar {
			float:left;
			width:130px;
			background:url(../images/border-sidebar.png) no-repeat top left;
			min-height:500px;
			padding:50px 0px 0px 20px;
		}
		div#container div#main-container div#content {
			float:right;
			width:530px;
			min-height:500px;
		}
			div#container div#main-container div#content div#header {
				text-align:right;
				padding:44px 0px 0px 0px;
				margin-bottom:20px;
			}
				div#container div#main-container div#content div#header h2 {
					font-family:Bebas;
					font-size:3.6em;
					color:#fff;
					padding-right:10px;
					margin-bottom:6px;
				}
				div#container div#main-container div#content div#header h3 {
					font-family:Bebas;
					font-size:1.8em;
					color:#fff;
					padding-right:10px;
				}
/* ~~~End Main Layout~~~ */

/* ~~~Main Menu~~~ */
ul#main-menu {
	list-style:none;
}
	ul#main-menu li a {
		color:#ddd;
		font-family:Bebas;
		font-size:1.6em;
		text-decoration:none;
		font-weight:500;
		letter-spacing:2px;
	}
	ul#main-menu li a:hover {
		color:#fff;
	}

div#sub-menu {
	display:none;
	background:url(../images/sub-menu-background.png);
	height:25px;
}	
	div#sub-menu a {
		color:#fff;
	}
/* ~~~End Main Menu~~~ */