/* 
 * @author: MMRambotics
 * @description: Stylesheet for all main pages.
 */
 
/* ~~~Reset~~~ */
* {
	margin:0px;
	padding:0px;
	
	font-family:Verdana, Helvetica, Arial, sans-serif;
}

img {
	border:0px;
}
/* ~~~End Reset~~~ */

/* ~~~Global~~~ */
body {
	background:#000 url(../images/main-background.png) no-repeat top center;
}
/* ~~~End Global~~~ */

/* ~~~Main Layout~~~ */
div#container {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background:url(../images/container-background.png) repeat-y top center;
}
	div#main-container {
		background:url(../images/container-background-bright.png) no-repeat top center;
		width:700px;
		margin:0 auto;
		min-height:400px;
	}
/* ~~~End Main Layout~~~ */