/* 
 * @author: MMRambotics
 * @description: Splash page stylesheet.
 */
 
/* ~~~Reset~~~ */
* {
	margin:0px;
	padding:0px;

	font-family:Verdana, Helvetica, Arial, sans-serif;
}
/* ~~~End Reset~~~ */

/* ~~~Global~~~ */
body {
	background:#000 url('../images/splash-background.png') no-repeat top center;
}
/* ~~~End Global~~~ */