<<<page_start>>>

<title>Retroreflector Test | &&&title&&&</title>

<<<head_content>>>
<<<page_body>>>


<<<header_start>>>Retroreflector<<<header_end>>>


<br /><br />

<p>Our team got home quickly from kickoff and decided to test our retroreflective strips through a camera.  Not photoshopped :D</p>

<br /><br />

<h4>Without Flash:</h4>
<a href="http://mmrambotics.ca/images/misc/retroreflective_without_flash.jpg" title="MMRambotics Retroreflector Test"><img src="http://mmrambotics.ca/images/misc/retroreflective_without_flash.jpg" width="200" alt="MMRambotics Retroreflector Test" title="MMRambotics Retroreflector Test" /></a>
<br /><br />

<h4>With Flash:</h4>
<a href="http://mmrambotics.ca/images/misc/retro.jpg" title="MMRambotics Retroreflector Test"><img src="http://mmrambotics.ca/images/misc/retro.jpg" width="520" alt="MMRambotics Retroreflector Test" title="MMRambotics Retroreflector Test" /></a>
<br /><br />
<a href="http://mmrambotics.ca/images/misc/retroreflective_with_flash.jpg" title="MMRambotics Retroreflector Test"><img src="http://mmrambotics.ca/images/misc/retroreflective_with_flash.jpg" width="200" alt="MMRambotics Retroreflector Test" title="MMRambotics Retroreflector Test" /></a>
<br /><br />

<h4>With Flashlight:</h4>
<a href="http://mmrambotics.ca/images/misc/retroreflective_with_maglight_one.jpg" title="MMRambotics Retroreflector Test"><img src="http://mmrambotics.ca/images/misc/retroreflective_with_maglight_one.jpg" width="200" alt="MMRambotics Retroreflector Test" title="MMRambotics Retroreflector Test" /></a>
<br /><br />
<a href="http://mmrambotics.ca/images/misc/retroreflective_with_maglight_two.jpg" title="MMRambotics Retroreflector Test"><img src="http://mmrambotics.ca/images/misc/retroreflective_with_maglight_two.jpg" width="200" alt="MMRambotics Retroreflector Test" title="MMRambotics Retroreflector Test" /></a>
<br /><br />

<br /><br />

<<<page_end>>>